// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-pur: #8203a5;
	--ion-color-pur-rgb: 130,3,165;
	--ion-color-pur-contrast: #ffffff;
	--ion-color-pur-contrast-rgb: 255,255,255;
	--ion-color-pur-shade: #720391;
	--ion-color-pur-tint: #8f1cae;
}

.ion-color-pur {
	--ion-color-base: var(--ion-color-pur);
	--ion-color-base-rgb: var(--ion-color-pur-rgb);
	--ion-color-contrast: var(--ion-color-pur-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pur-contrast-rgb);
	--ion-color-shade: var(--ion-color-pur-shade);
	--ion-color-tint: var(--ion-color-pur-tint);
}
:root {
	--ion-color-lightblue: #00ffe1;
	--ion-color-lightblue-rgb: 0,255,225;
	--ion-color-lightblue-contrast: #000000;
	--ion-color-lightblue-contrast-rgb: 0,0,0;
	--ion-color-lightblue-shade: #00e0c6;
	--ion-color-lightblue-tint: #1affe4;
}

.ion-color-lightblue {
	--ion-color-base: var(--ion-color-lightblue);
	--ion-color-base-rgb: var(--ion-color-lightblue-rgb);
	--ion-color-contrast: var(--ion-color-lightblue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-lightblue-contrast-rgb);
	--ion-color-shade: var(--ion-color-lightblue-shade);
	--ion-color-tint: var(--ion-color-lightblue-tint);
}
